<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/find.css" />
  </head>
  <body>
    <div class="icon">🔥</div>
    <div class="container">
      <h1 class="header">비밀번호 찾기</h1>
      <form action="" class="login-form">
        <div class="form-group">
          <label for="name">닉네임</label>
          <input id="name" name="name" type="name" />
        </div>
        <div class="form-group">
            <label for="id_find">아이디</label>
            <input id="id_find" name="id_find" type="id_find" />
          </div>
        <div class="form-group">
          <label for="birth">생년월일</label>
          <input id="birth" name="birth" type="birth" />
        </div>
        <div class="custom-checkbox">
          <input type="checkbox" name="remember" id="remember" />
          <label for="remember">Remember me</label>
        </div>
      </form>
      <button class="login-button">Login</button>
      <div class="footer-text">
        <a href="http://127.0.0.1:5000/">Login home</a>
      </div>
    </div>
  </body>
</html>